<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Human Resource | Log in</title>
<script type="text/javascript" th:src="@{/libs/jquery-2.1.4/jquery-2.1.4.min.js}"></script>
<script type="text/javascript" th:src="@{/libs/bootstrap-3.3.5/js/bootstrap.min.js}"></script>
<link rel="stylesheet" th:href="@{/libs/bootstrap-3.3.5/css/bootstrap.min.css}"></link>
<link rel="stylesheet" th:href="@{/css/common.css}"></link>
<link rel="stylesheet" th:href="@{/css/login.css}"></link>
</head>
<body>
	<div class="panel panel-default action-panel">
		<div class="panel-heading" th:text="#{login.form.title}"></div>
		<div class="panel-body">
			<form class="login-form" action="#" th:action="@{/login}" th:object="${loginForm}" method="POST">
				<div th:if="${param.error}" class="form-error-message" th:text="#{login.error.userpasswordnotmatch}">    
                </div>
				<div class="input-field-group" th:classappend="${#fields.hasErrors('userEmail')}? 'error' : ''">
					<div class="input-label " th:text="#{login.form.label.userEmail}"></div>
					<input name="userName" class="input-field " type="text" th:field="*{userEmail}" th:placeholder="#{login.form.placeholder.userEmail}" />
					<div class="input-field-error-message" th:if="${#fields.hasErrors('userEmail')}" th:errors="*{userEmail}"></div>
				</div>
				<div class="input-field-group password" th:classappend="${#fields.hasErrors('password')}? 'error' : ''">
					<div class="input-label  password-label" th:text="#{login.form.label.password}"></div>
					<input name="password" class="input-field" type="password" th:field="*{password}" th:placeholder="#{login.form.placeholder.password}" />
					<div class="input-field-error-message" th:if="${#fields.hasErrors('password')}"></div>
				</div>
				<input class="btn btn-xlarge  login" type="submit" th:value="#{login.form.bottom.login}" />
			</form>
			<form class="oauth-login-form" action="#" th:action="@{/oauth/login}" method="POST">
				<div class="split-line"></div>
				<input class="btn btn-xlarge oauth-login" type="submit" value="SAP Anywhere Account Login" />
				<div class="useful-links ">
					<div class="forget-password ">
						<a href="#" th:text="#{login.link.forgotpassword}"></a>
					</div>
					<div class="register ">
						<a th:href="@{register.html}" th:text="#{login.link.register}"></a>
					</div>
				</div>
			</form>
		</div>
	</div>
</body>
</html>