body {
  	background-image: url(/imgs/bg.png);
	background-size: cover;
	background-size: auto 1400px;
    background-repeat: no-repeat;
}

.input-field{
	background-color: rgb(228, 228, 228);
}

.input-label {
  height: 30px;
  line-height: 30px;
  width: 100%;
  color: #CCCCCC;
  font-size: 14px;
}

.panel.panel-default.action-panel{
	left : 30%;
	top : 18%;
	right : 0px;
}

.input-field-group.password {
  margin-top: 10px;
}

.btn.oauth-login, .btn.login, .useful-links {
  margin-top: 20px;
}

.oauth-login-form {
  padding: 20px 0px;
}

.split-line {
  height: 1px;
  border-bottom: 1px solid white;
}

.forget-password {
  width: 50%;
  float: left;
}

.register {
  width: 50%;
  float: right;
  text-align: right;
}

